/* Desktop Main Menu Color */

.wsmainfull {
  background-color: #fff;
}

.wsmenu>.wsmenu-list {
  background-color: #fff;
}

/* Mobile Header */

.wsmobileheader {
  background-color: #fff;
}

.wsmenu>.wsmenu-list>li>a {
  color: #333;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
  border-top-color: #b3b3b3;
}

.wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {
  border-top-color: #333;
}

.wsmenu>.wsmenu-list>li>a.active .wsarrow:after {
  border-top-color: #333;
}

.wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {
  border-top-color: #333;
}

.wsmenu>.wsmenu-list>li>a>i {
  color: #55606c;
}

.wsmenu>.wsmenu-list>li>a.active i {
  color: #333;
}

.wsmenu>.wsmenu-list>li:hover>a>i {
  color: #333;
}

.wsmenu>.wsmenu-list>li>a:hover i {
  color: #333;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}

.wsmenu>.wsmenu-list>li>a.active {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}

.wsmenu>.wsmenu-list>li:hover>a {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
  background-color: rgba(0, 0, 0, 0.11);
  color: #333;
}